.grid{
    width: 400px;
    height: 600px;
    background-image: url('mario-background.png');
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler{
    width: 65px;
    height: 65px;
    background-image: url('star-doodler.png');
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    background-image: url('mario-platform.png');
    position: absolute;
}

